body{
    font-family: sans-serif;
}

/*Tabla de usuarios*/
table {   
    border: 1px solid #000;
    border-collapse: collapse;
    width: 60%;
    max-width: 500px;
    min-width: 500px;
}
th, td {
    width: 50px;
    border: 1px solid #000;
    padding: 5px;
}

.paginas{
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #D8D8D8;
    padding: 10px;
    border: 1px solid #585858;
    display: inline-block;
    max-width: 23px; 
    min-width: 23px; 
    max-height: 23px; 
    min-height: 23px; 
}
.paginaActual{
    font-weight: bold;
}
